<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomParameters" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <CustomParameters>

    <add key="sftpauth" value="tester:password@localhost" />
    <add key="fingerprint" value="ssh-rsa 2048 4b:2e:bb:ce:2e:21:90:2e:84:ec:73:33:ea:1c:c7:28" />    
    <add key="logFile" value="ftpapplogs.log" />
    <add key="LocalDir" value="C:\dev\tools\sftp_server\storage\" />
    <add key="RemoteDir" value="/folder_for_834_files/" />    
    <add key="EmailRecepients" value="anemail@gmail.com" />
    <add key="DownloadedFiles" value="downloadedfiles.txt" />
    <add key="Filter" value="834" />
    <add key="RecordInitialFileList" value="false" />
    
  </CustomParameters>

</configuration>
